*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.hd{
    background-color: rgb(16, 103, 45);
    color: white;
    text-align: center;
    padding: 40px;
}

.menu{
    background-color: rgb(230, 227, 227);
    text-align: center;
    padding: 10px;
}

.menu a{
    margin: 15px;
    text-decoration: none;
    font-weight: bold;
    padding: 10px;
    color: rgb(80, 150, 115);
}

.menu a:hover{
    background-color: rgb(16, 103, 45);
    color: white;
}

.trangchu{
    text-align: center;
    padding: 60px 20px;
    background-color: #f2f2f2;
}

.btn{
    display: inline-block;
    margin-top: 20px;
    background-color: green;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 20px;
}

.thucdon{
   .title {
    display: flex;
    align-items: center;
    font-size: 24px;
    margin-bottom: 30px;
}


.course-list {
    display: flex;
    gap: 20px;
}

.course-card {
    background: #edeaea;
    border-radius: 12px;
    padding: 25px;
    width: 100%;
    box-shadow: 0 8px 20px rgba(0,0,0,0.05);
}

.course-card h3 {
    font-size: 22px;
    margin-bottom: 10px;
}

.course-card p {
    color: #555;
    margin-bottom: 20px;
}
}

.monan{
    margin-bottom: 20px;
}

.uudai{
    padding: 40px;
}

table{
    width: 80%;
    margin: auto;
    border-collapse: collapse;
}

th{
    background-color: green;
    color: white;
    padding: 10px;
}

td{
    border: 1px solid #ccc;
    padding: 10px;
}

tr:hover{
    background-color: #e0ffe0;
}
.danhgia{
    padding: 40px;
    background-color: #f5f5f5;
}

.review-box{
    display: flex;
    gap: 20px;
}

.review-card{
    background-color: white;
    padding: 20px;
    width: 3000px;
    border-radius: 10px;
    box-shadow: 0 3px 10px rgba(0,0,0,0.1);
}

.review-card h4{
    margin-bottom: 10px;
}


.datban{
    padding: 40px;
    text-align: center;
}

.datban input,
.datban textarea{
    width: 60%;
    padding: 10px;
}

.datban button{
    background-color: green;
    color: white;
    padding: 10px 20px;
    border: none;
}

.footer{
    background-color: #222;
    color: white;
    text-align: center;
    padding: 30px;
}
.section-title {
    border-left: 6px solid green;
    padding-left: 10px;
    margin-bottom: 20px;
    font-size: 22px;
    font-weight: bold;
}

